<footer>
    <div>
        <p class="license">
            <small>Copyright © 2024–2025 Maciej Lewkowicz.</small>
        </p>
        <p class="license">
            <small>This page doesn't use cookies.</small>
        </p>
    </div>
</footer>
