---
layout: hcard.njk
name: Maciek Lewkowicz
nickname: macieklewkowicz
note: "Open&#160;source contributor, GitOps&#160;practitioner, automation&#160;afficionado."
me:
  - name: Github
    url: https://github.com/macieklewkowicz/
  - name: Gitlab
    url: https://gitlab.com/macieklewkowicz/
  - name: LinkedIn
    url: https://linkedin.com/in/maciej-lewkowicz
  #- name: StackOverflow
  #  url: https://stackoverflow.com/users/7075588/maciek-lewkowicz
  - name: Mastodon
    url: https://toot.community/@maciek
  #- name: npm
  #  url: https://www.npmjs.com/~macieklewkowicz
  #- name: Packagist
  #  url: https://packagist.org/users/macieklewkowicz/
  #- name: Bitbucket
  #  url: https://bitbucket.org/macieklewkowicz/
  #- name: Docker Hub
  #  url: https://hub.docker.com/u/macieklewkowicz
---
